$background-main-color: #FFFFFF;
$background-color: #F6F4F4;
$background-create-color: #BDC3F5;
$background-add-color: #E0F0EA;
$background-delete-color: #F1D1DC;
$background-hover-cell-color: #EFE9CB;;
$background-hover-summary-cell-color: linear-gradient(180deg, #E0EFEA 0%, #BDC3F5 100%);
$main-color: #14121E;
$grey-color: #433F47;

